body{
    background-color: aqua;
}

#header{
    border-style: groove;
    border-color: orange;
    border-width: 5px;
    background-color: blueviolet;
    margin-bottom: 50px;
    text-align: center;
    color: aqua;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.games{
    text-align: center;
    border-style: groove;
    border-width: 5px;
    border-color: blueviolet;
    width: 400px;
    height: 350px;
    margin: auto;
    margin-bottom: 50px;
    background-color: orange;
    color: rgb(255, 0, 255);
}

.inImg{
    margin: auto;
    display: block;
    max-width: 250px;
    max-height: 225px;
}

.shImg{
    max-width: 400px;
    max-height: 400px;
}